.idea
*.iml
*.ipr
*.iws
*.ids
*.log
.classpath
.project
target
apache
config
node_modules
*.~*
.settings
log/
/bin/


# Ignore all Eclipse-specific files
**/.project
**/.classpath
**/.settings/
**/.metadata/
**/bin/
.project
.classpath
.settings/
esbcontent/